.slide-but  {
  height: 66px;
  width: 100%;
  border-radius: 12px;
  border: none;
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
  background-color: #181a20;
}
.slide-caret-wrapper {
  background-color: #F3C73B !important;
  height: 60px !important;
  width: 60px !important;
  max-width: 70px !important;
  border-radius: 12px;
}

.slide-overlay {
  border-radius: 12px;
  height: 60px !important;
  margin-top: 3px !important;
  margin-left: 3px !important;
}

